img{width:100%;}

.logo {
	margin-left: -50px;
	margin-top: -10px;
	width: 40%
}

.bodyData {
	padding-top: 20px;
}

.icbait-navbar {
	background-color: #4786c8
 }

 .add-user { 
 	color: black ! important;

  }